<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
  <div class="container">
    <a href="/" class="navbar-brand">Binance Cryptocurrency CopyTrader</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item">
          <a href="/articles" class="nav-link">All Transactions</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
