{% extends 'layout.html' %}
{% block body %}
<div class="jumbotron">
	<br />
	<hr />

	<h1>Binance Cryptocurrency CopyTrader</h1>
	<p class="lead">Easily Scale your Cryptocurrency trading workflow with automatic copying and trading</p>
	<hr />
	<br />
	<br />
	<b>{{isRunning}}</b><br /><br />
	<a href="/run" class="btn btn-primary btn-lg">Run</a>
	<a href="/stop" class="btn btn-success btn-lg">Stop</a>


	<hr />

	<b>Add/Replace Master Account</b><br />

	<form action="{{ url_for('master_form') }}" method='POST'>
		<div>

			<br />
			Master API Key : &nbsp;&nbsp; <input id="comment_content" name="comment_content"></input>
			<span class="character-counter"></span></div><br />
		Master API Secret : <input id="comment_content2" name="comment_content2"></input>
		<br /><br /> Master API Name : <input id="comment_content3" name="comment_content3"></input>
		<br />

		<br />
		<div>
			<button type="submit" class="btn waves-effect waves-light">Add</button>
		</div>
	</form>


	<hr />

	<b>Add New Slave</b><br />

	<form action="{{ url_for('slave_form') }}" method='POST'>
		<div>

			<br />
			Slave API Key : &nbsp;&nbsp; <input id="comment_content" name="comment_content"></input>
			<span class="character-counter"></span></div><br />
		Slave API Secret : <input id="comment_content2" name="comment_content2"></input>
		<br /><br />
		Slave API Name : <input id="comment_content3" name="comment_content3"></input>

		<br />
		<br />
		<div>
			<button type="submit" class="btn waves-effect waves-light">Add</button>
		</div>
	</form>

	<hr />

	<b>Current Master</b><br />
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Key</th>
				<th>Secret</th>
			</tr>
		</thead>
		{% for row in rows2 %}

		<tr>
			<td>{{row["name"]}}</td>
			<td>{{row["key"]}}</td>
			<td> {{ row["secret"]}}</td>
		</tr>
		{% endfor %}
	</table>

	<a href="/delete_master" class="btn btn-success btn-lg">Delete Master</a>

	<hr />

	<b>Slaves List</b><br />

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Key</th>
				<th>Secret</th>
			</tr>
		</thead>

		{% for row in rows %}
		<tr>
			<td>{{row["name"]}}</td>
			<td>{{row["key"]}}</td>
			<td> {{ row["secret"]}}</td>
		</tr> {% endfor %}
	</table>
	<a href="/delete_slave" class="btn btn-success btn-lg">Delete Slaves</a>


</div>
<!-- Footer -->
<footer class="page-footer font-small blue pt-4">
		<div class="footer-copyright text-center py-3">© 2020 Copyright:
			<a href="https://mdbootstrap.com/education/bootstrap/"> mrashad.tk</a>
		</div>
	</footer>
{% endblock %}